
<style>
    p{
        color: red;
    }
    body{
        color: blue;
    }
</style>
<body>
    <h1 align="center"> Institute Management </h1>
    <hr color="red" width="60%" align="center"/>
    <div>
        <p>
            We built a small project about Institute Management and Its Uses are providing Login Access to Accountants and they can add new students details, Update, Delete existing details.
        </p>
    </div>

    <button onclick="history.back()">Go Back</button>
</body>
</html>
