
<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        h1{
            color: red;
        }
         div{
            align: center;
            margin-top: 50px;
            padding-top: 20px;
            background-color:lightcyan;
            width: 400px;
            height: 500px;

            padding-left: 20px;
            margin-left: 550px;
         }
         li{
            color: blue;
         }
    </style>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <div>
  <h1>List of Total students</h1>
  {% for obj in students %}
  <ul>
      <li> <a href="">{{ obj.student_name }}</a> </li>
  </ul>
  {% endfor %}
    <br/><br/>
    <button type="button" class="btn btn-outline-dark" style="margin-left: 40px" onclick="location.href='{% url 'home' %}'">Go back</button>
  </div>
</body>
